@page
@model SpotifyPlaylisterApp.Pages.PlaylistTracks.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>PlaylistTrack</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="PlaylistTrack.Id" />
            <div class="form-group">
                <label asp-for="PlaylistTrack.Title" class="control-label"></label>
                <input asp-for="PlaylistTrack.Title" class="form-control" />
                <span asp-validation-for="PlaylistTrack.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PlaylistTrack.Artists" class="control-label"></label>
                <input asp-for="PlaylistTrack.Artists" class="form-control" />
                <span asp-validation-for="PlaylistTrack.Artists" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PlaylistTrack.Album" class="control-label"></label>
                <input asp-for="PlaylistTrack.Album" class="form-control" />
                <span asp-validation-for="PlaylistTrack.Album" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PlaylistTrack.PlaylistId" class="control-label"></label>
                <select asp-for="PlaylistTrack.PlaylistId" class="form-control" asp-items="ViewBag.PlaylistId"></select>
                <span asp-validation-for="PlaylistTrack.PlaylistId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
