@page
    @model SpotifyPlaylisterApp.Pages.Callbacks.IndexModel
@{
    ViewData["Title"] = "Index";
}

<h1>Spotify auth</h1>

<p>
    @Html.Raw(System.Web.HttpUtility.HtmlEncode(Model.AuthResult)!.Replace("\n", "<br/>"))
</p>